* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body,
html {
	overflow-x: hidden;
}

/* .Slick-arrow.Slick.prev,
.Slick-arrow.Slick.next{
background-color: green;
} */



/* @media screen and(max-width:500px) {
.Slider{
	margin-top: 250px;
}
} */